h1, footer{
    text-align: center;
}
footer{
    position: fixed;
    bottom:0;
}
h2{
  text-align: center;
  position: relative; left: 800px;
  position: relative; top: 300px;
}
h2{
  writing-mode: vertical-rl; /* This property is for modern browsers that support writing-mode */
  transform: rotate(180deg); /* Fallback for browsers that do not support writing-mode */
  
}
html{
  background-image: radial-gradient(circle, rgb(219, 178, 230) 0%, rgb(253, 253, 253) 60%); 
}
.Mac {
  text-align: center;
}
.Mac img {
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  max-height: 100%; /* Ensure the image does not exceed its container's height */
  display: inline-block; /* Align the image as an inline block */
}


.HOVER {
  width: 200px;
  height: 80px;
  position: relative; left:840px;
  border-radius: 10px;
}
.HOVER:hover:hover {
  transform: scale(1.2);
}
.HOVER:active:active {
  transform: scale(0.9); /* Shrink the button to 90% of its original size on click */
}
.HOVER {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease; /* Add a transition for the transform property */
}

.Centermain{
  text-align: center;
}

.IconH{
  position: relative; top:-180px;
  transform: scale(0.2);
  text-align: center;
}
.IconH:hover:hover, .IconCss:hover:hover {
  transform: scale(0.3);
}

.IconH:active:active, .IconCss:active:active {
  transform: scale(0.25); /* Shrink the button to 90% of its original size on click */
}
.IconH, .IconCss {
  padding: 10px 20px;
  font-size: 16px;
  transition: transform 0.3s ease; /* Add a transition for the transform property */
  width: 20%;
}

.IconCss{
  position: relative; top:-550px;
  transform: scale(0.2);
  text-align: center;
}
@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 10%;
  }
}
.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arial", sans-serif;
} 
.typing-text {
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end) forwards; /* Use "forwards" to retain the final state */
  border-right: 2px solid #000;
}
